<div class="home-container">
    <div id="heading-container">
        <div class="movieGuru">
            <p>Movie Guru</p>
        </div>
        <div class="find">
            <p>find your next favorite movie</p>
        </div>
    </div>

    <search-bar></search-bar>

    <div id="paragraph-container">
        <p>Enter a movie title and we will give you recommendations of other movies you might like as well as where you can find them</p>
    </div>
</div>

<!-- <div id="messageModal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content message-content">
            <h2>Please wait</h2>
            <p>The guru is thinking...</p>
            <div class="spinner center">
                <div class="spinner-blade"></div>
                <div class="spinner-blade"></div>
                <div class="spinner-blade"></div>
                <div class="spinner-blade"></div>
                <div class="spinner-blade"></div>
                <div class="spinner-blade"></div>
                <div class="spinner-blade"></div>
                <div class="spinner-blade"></div>
                <div class="spinner-blade"></div>
                <div class="spinner-blade"></div>
                <div class="spinner-blade"></div>
                <div class="spinner-blade"></div>
            </div>
        </div>
    </div>
</div> -->

<!-- <div id="errorModal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content message-content">
            <h2>Sorry!</h2>
            <p>The guru couldn't find that movie.</p>
        </div>
    </div>
</div> -->
