@import url( 'https://fonts.googleapis.com/css?family=Raleway:200');

* {
    font-family: 'Raleway';
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}
@import "partials/search-bar";
@import "partials/home";
@import "partials/results";
@import "partials/movie-details";
