.checkboxes {
    position: absolute;
    top: 540px;

    ul {
        list-style: none;
    }

    button {
        margin-left: 40px;
    }
    @media (max-width: 1150px) {
        top: 540px;
        left: -30px;
    }
    @media (max-width: 1050px) {
        top: 530px;
        left: 65px;

        button,
        li,
        ul {
            display: inline-block;
        }

        li {
            padding-right: 15px;
        }

        hr {
            display: none;
        }
    }
    @media (max-width: 760px) {
        top: 580px;
    }
}

#movieList {
    width: 100%;
}

.searchedMovieBanner {
    margin-top: 280px;
    @media (max-width: 760px) {
        margin-top: -120px;
        display: flex;
        flex-flow: column;
        align-content: center;
        //align-items: flex-start;
    }
}

.suggestionsFor p {
    font-size: 15pt;
    line-height: 1px;
    margin-left: 100px;
    margin-top: 140px;
    @media (max-width: 920px) {
        font-size: 12pt;
        margin-left: 110px;
    }
}

.moviesLike p {
    font-size: 15pt;
    margin-top: -5px;
    margin-left: 140px;
    @media (max-width: 920px) {
        font-size: 12pt;
    }
}

.movieTitle {
    margin-left: 245px;
    font-size: 37pt;
    font-weight: bold;
    width: 450px;
    margin-top: -70px;
    padding-right: 100px;
    @media (max-width: 920px) {
        font-size: 30pt;
        margin-left: 220px;
        margin-top: -60px;
    }
}

.bannerText {
    position: absolute;
    top: 70px;
    right: 650px;
    @media (max-width: 1260px) {
        right: 550px;
    }
    @media (max-width: 1190px) {
        right: 480px;
    }
    @media (max-width: 1050px) {
        right: 360px;
    }
    @media (max-width: 920px) {
        right: 300px;
    }
    @media (max-width: 840px) {
        right: 300px;
    }
    @media (max-width: 830px) {
        left: -90px;
    }
    @media (max-width: 760px) {
        position: static;
        display: block;
        margin: auto;
    }
    @media (max-width: 495px) {
        margin-left: -70px;
    }
}

.titlePic {
    margin-left: 55%;
    margin-top: -250px;

    img {
        width: 300px;
        cursor: pointer;
    }
    @media (max-width: 760px) {
        position: static;
        display: block;
        margin: auto;
    }
}

.divider {
    padding: 20px 0;
    width: 100%;
}

.movieImages {
    display: flex;
    width: 80%;
    margin: auto;
    flex-flow: row wrap;
    justify-content: center;
    @media (max-width: 836px) {
        margin-top: 30px;
    }
    @media (max-width: 741px) {
        margin-top: 50px;
    }
    @media (max-width: 456px) {
        margin-top: 80px;
    }

    .movie {
        width: 17%;
        padding: 0 1px 1px 0;
        @media (max-width: 1050px) {
            width: 25%;
        }
        @media (max-width: 865px) {
            width: 33%;
        }
        @media (max-width: 585px) {
            width: 50%;
        }
        @media (max-width: 400px) {
            width: 90%;
        }
    }

    img {
        width: 100%;
        cursor: pointer;
    }
}
