<div class="modal fade" id="{{htmlID}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <h5 class="modal-title" id="modalMovieInfo">{{movie.title}}</h5>
            </div>
            <div class="modal-body">
                <div id="moviePoster">
                    <img ng-src="{{movie.poster}}" alt="{{movie.title}}">
                </div>
                <div class="movieDetails">
                    <p class="modal-title" id="modalMovieTitle">{{movie.title}}</p>
                    <p class="modal-rating" id="modalMovieRating">{{movie.rating}}</p>
                    <p class="modal-year" id="modalMovieYear">{{movie.year}}</p>
                    <p class="modal-time" id="modalMovieTime">{{movie.duration}}</p>
                    <p id="modalDirector">{{movie.directors}}</p>
                    <p id="modalWriter">{{movie.writers}}</p>
                    <p id="modalActors">{{movie.cast}}</p>
                </div>
                <p id="modalMoviePlot">{{movie.description}}</p>
                <div id="movieTrailer">
                    <video controls>
                      <source src="{{movie.trailer}}" type="video/">
                    </video>
                </div>
            </div>
            <div class="modal-footer">
                <p class="viewable">Viewable On</p>
                <hr>
                <div class="content" id="movieSources">
                    <ul>
                        <li>
                            <div id="freeSources">
                                <h5>Free Sources</h5>
                                <div ng-repeat="source in movie.free_web_sources">
                                    <a href="{{source.link}}" target="_blank">{{source.name}}</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div id="paidSources">
                                <h5>Paid Sources</h5>
                                <div ng-repeat="source in movie.free_web_sources">
                                    <a href="{{source.link}}" target="_blank">{{source.name}}</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div id="subscriptionSources">
                                <h5>Subscription Sources</h5>
                                <div ng-repeat="source in movie.free_web_sources">
                                    <a href="{{source.link}}" target="_blank">{{source.name}}</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
